<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Hall Soft</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar__container">
            <div class="navbar__logo">
                <img class="logo" src="{% static 'media/logo.jpg' %}" />
                <span class="proyectname">Event Hall</span>
            </div>
            <li class="navbar__container-item">
                <a href="/">Inicio</a>
            </li>
            {% if user.is_authenticated %}
            <li class="navbar__container-item">
                <a href="/selector">Reservas</a>
            </li>
            <li class="navbar__container-item">
                <a href="/calendario">Calendario</a>
            </li>
            <li class="navbar__container-item">
                <a href="/logout">Cerrar Sesión</a>
            </li>
            {% else %}
            <li class="navbar__container-item">
                <a href="/signup">Registrarse</a>
            </li>
            <li class="navbar__container-item">
                <a href="/signin">Iniciar Sesión</a>
            </li>
            {% endif %}
        </ul>
    </nav>
   
    {% block content %}
    {% endblock %}

</body>
</html>