<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django CRUD Aplication</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar__container">
            <li class="navbar__container-item">
                <a href="/">Home</a>
            </li>
            <li class="navbar__container-item">
                <a href="/tasks">Tasks</a>
            </li>
           
            {% if user.is_authenticated %}
            <li class="navbar__container-item">
                <a href="/logout">Logout</a>
            </li>
            {% else %}
            <li class="navbar__container-item">
                <a href="/signup">Sign up</a>
            </li>
            <li class="navbar__container-item">
                <a href="/signin">Login</a>
            </li>
            <li class="navbar__container-item">
                <a href="/calendario">Calendario</a>
            </li>
            

            {% endif %}
            
        </ul>
    </nav>
   
    {% block content %}
    {% endblock %}

</body>
</html>