<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          events: [ 
            {
            title: "Bautizo",
            start: "2023-06-15",
            },
            {
            title: "ejecutivo",
            start: "2023-06-01",
            },
            {
            title: "Cumpleaños",
            start: "2023-06-25",
            },
            {
            title: "Quinceaños",
            start: "2023-06-03",
            },
            {
            title: "Cumpleaños",
            start: "2023-06-17",
            },
            {
            title: "Boda",
            start: "2023-06-14",
            },
            {
            title: "Fiesta",
            start: "2023-06-20",
            },
            {
            title: "Evento",
            start: "2023-05-28",
            },
            {
            title: "Prueba DS2",
            start: "2023-07-12",
            }
            
          ],
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });

    </script>
  </head>
  <body>
    <div id='calendar'></div>
  </body>
</html>
