{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Voluptate ab tenetur quidem hic delectus nemo doloribus 
     minus dicta nostrum natus rem amet voluptas dolore mollitia ad,
      expedita sint, eligendi reiciendis blanditiis sequi libero exercitationem?
       Enim doloremque rerum, vitae eligendi magni expedita reprehenderit? Accusantium
        sit id eveniet, ullam deleniti dolore quisquam expedita. Omnis sunt aut neque quas
         vero distinctio aspernatur cumque soluta nulla pariatur placeat quam porro ipsam, 
         nobis velit corporis fugit quidem unde obcaecati modi animi ratione deserunt rem 
         est! Ut harum velit molestiae aut. Magnam quod eligendi, dolore neque illum assumenda 
         adipisci error eveniet, fuga maiores vitae. Beatae, ullam.</p>
{% endblock %}