{% extends 'base.html' %}
{% block content %}
<div class="block__content">
    {% load static %}
    <div class="container__form">
        <img class="block__content--icon" src="{% static 'media/icono-login.png' %}" />
        <h1 class="container__form--title">Iniciar Sesión</h1>
        
        {{error}}
        <form class="container__form--content" action="/signin/" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button class="container__form--button">
                Iniciar Sesión
            </button>
        </form>
    </div>
</div>
{% endblock %}